*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
CLAUDE.md
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# Gradle
.gradle/
build/
Assets/

# Android
.idea/caches/
.idea/modules.xml
.idea/workspace.xml

# iOS
iosApp/DerivedData/
iosApp/Pods/
iosApp/.appcode_settings/
iosApp/*.xcworkspace
iosApp/xcuserdata/
/.claude/settings.local.json
