*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
CLAUDE.md
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# Gradle
.gradle/
build/
Assets/

# Android
.idea/caches/
.idea/modules.xml
.idea/workspace.xml

# iOS
iosApp/DerivedData/
iosApp/Pods/
iosApp/.appcode_settings/
iosApp/*.xcworkspace
iosApp/xcuserdata/
/.claude/settings.local.json
/.claude/commands/architecture-review.md
/.claude/commands/code-review.md
/.claude/commands/commit.md
/.claude/scripts/context-monitor.py
/.claude/commands/create-architecture-documentation.md
/.claude/commands/generate-tests.md
/.claude/agents/product-strategist.md
/.claude/agents/prompt-engineer.md
/.claude/commands/refactor-code.md
/.claude/commands/todo.md
/.claude/agents/ui-ux-designer.md
/.claude/commands/ultra-think.md
